body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f8f8f8;
}

.menu img {
  width: 2.5rem;
}

.search-bar {
  width: 100%;
  max-width: 300px;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Categories Section */
.categories {
  display: flex;
  overflow-x: auto;
  padding: 1rem;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.categories button {
  flex: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 50px;
  border: none;
  background-color: rgba(104, 85, 224, 1);
  color: #fff;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.categories button:hover {
  background-color: #fff;
  color: rgba(104, 85, 224, 1);
  box-shadow: 0 0 10px rgba(104, 85, 224, 0.3);
  transform: translateY(-2px);
}

.categories::-webkit-scrollbar {
  display: none;
}

/* Media Queries */
@media (max-width: 600px) {
  .categories button {
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  .authorization {
    display: none;
  }

  .search-bar {
    max-width: 200px;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .categories button {
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
  }

  .search-bar {
    max-width: 250px;
  }
}

@media (min-width: 1024px) {
  .categories button {
    padding: 0.8rem 2rem;
    font-size: 1.1rem;
  }

  .search-bar {
    max-width: 300px;
  }
}
